@using System.Security.Claims
@model MyWebtoonWebProject.Web.ViewModels.Reviews.ApplicationUserReviewsViewModel
@{
    ViewBag.Title = this.User.FindFirstValue(ClaimTypes.NameIdentifier) + "'s Reviews";
}

<ul>
    @foreach (var review in Model.Reviews)
    {
        <li>Hello</li>
    }
</ul>