@using MyWebtoonWebProject.Web.ViewModels.Episodes
@model AddEpisodeInputModel
@{
    ViewBag.Title = "Add Episode";
}

<form method="post" class="form-group" enctype="multipart/form-data">
    <div class="col-md-8">
        <p>Please select the pages you wish your episode to have.</p>
        <p style="font-weight:bold" >KEEP IN MIND YOUR PAGES WILL GET SORTED ALPHABETICALLY SO MAKE SURE YOU HAVE THEM NAMED IN THE ORDER YOU WANT THEM TO APPEAR</p>
        <label asp-for="Pages"></label>
        <input asp-for="Pages" class="form-control">
        <span asp-validation-for="Pages"></span>
    </div>
    <input type="hidden" asp-for="TitleNumber">
    <input type="submit" class="btn btn-primary col-md-4 offset-8 form-control" />
</form>