<h1>Hello from createWebtoon view</h1>

<h1>Current Time: @DateTime.UtcNow</h1>


<form action="/" method="post" class="form-control" >
    <label>Title</label>
    <input type="text" name="Title" value="" placeholder="Title" />
    <input type="submit" />
</form>