@using MyWebtoonWebProject.Web.ViewModels.Webtoons;
@model GetAllWebtoonsViewModel;
@{
    ViewBag.Title = "Webtoons";
}

<ul class="list-unstyled">
    @foreach (var webtoon in Model.Webtoons)
    {
        <li>
            <a href="/Webtoons/GetWebtoon?id=@webtoon.Id">
                <img src="~/Webtoons/@webtoon.CoverPhoto" alt="" width="210px" height="210px" />
                <div class="text-info">
                    <p>@webtoon.Title</p>
                    <p>@webtoon.Author</p>
                    <p>@webtoon.Genre</p>
                    <p>@webtoon.Likes</p>
                </div>
            </a>
        </li>
    }

</ul>



